/* Complete the CSS styling according to the provided design */

body {
    background-image: url("images/table.png");
    background-size: cover;
    font-size: 10px;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.menu {
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#message-el {
    font-size: 3.5rem;
    font-weight: bold;
}

p {
    font-size: 3rem;

}

h1 {
    font-size: 8rem;
    letter-spacing: 5px;
    color: goldenrod;
}

.btn {
    font-size: 3.5rem;
    font-weight: bold;
    color: green ;
    background-color: rgb(255, 150, 30);
    border: none;
    border-radius: 5px;
    padding: 5px 60px;
}

#new-card-btn {
    margin-top: 10px;
    padding: 5px 84px;
}

.btn:hover {
    background-color: rgb(255, 100, 30);
}

.btn:active {
    box-shadow: inset 0px 0px 5px brown;
}



@media (max-width: 1000px) {
    body {
        align-items: center;
    }
    #message-el {
        font-size: 2.5rem;
    }

    p {
        font-size: 2rem;

    }
    h1 {
        font-size: 6rem;
    }

    .btn {
        font-size: 2.5rem;
    }

    #new-card-btn {
        padding: 5px 77px;
    }
}
